@font-face {
  font-family: 'Virgil';
  src: url('./assets/fonts/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.light {
  --primary-text: rgb(33, 21, 81);
  --second-text: rgb(77, 67, 117);
}

.dark {
}

@media (max-width: 600px) {
  body {
    user-select: none;
  }

  .text {
    user-select: auto;
  }
}
